env:
  global:
  - secure: ktOlr34oWsjwWtppX8QEnkjWV0IyMOlTKE3dcEajAIpcIRhJyyTc1dhemJMLjBXWKSEGo8vyrowaMukN1Pxv1QHTv4PlUxI/wq39drAHQQ6g7tcLYnfTC9js/thV4URIS/Mpz00KzdKS3EZN7Uto0uU0/ytmF+sCHTxZxwVQoT9TIMhf3yjgPeZoPXJd+PuGO1cVyb2lETNMaIAV/fcl1zik73M2YpP+sjkoltMHOCd45YwV+c0ANfgjxM7camTE9ImKhSSHHSSepawlCHMig/xl+f0V5U+fe2klr/8K/6JrBJ1bJ52CJiVzMqGi3eiINQI64BjhAAq1zDwd4hiXRWOX/bE1eVZOv5lZ9hlYwXrQsADRL5MX5lVC3d4Ch0tCNNz9nKBoLEci2y0y3xkL+wWOv4hwxTELaqRjgGPL67SeoswkdEy9FUWsbOlRMPztxN/xhLj7avfoudxItmzpKgzVWiWcCgFLmZQGUYGDJa1hXz/PSuc+2Ra9TOVytONEQZC+AqNm3BjO3aOu1UFaV3vIOgdy6MHK+mIeQqgxhyUY+MkPm5H6CNe00loM9ouIpllto+PpVDzJ2oZdhBLxq+ZjYIqjsqcqJbHpoWGsZqrPIZezfH0HyNk95y2lv7MiInptDq6UViuRZpEcrBVlZ60mvm+E7cGBF7UrlSDQ97w=
  - secure: MlPh2uOYJixxPtSiMeg2BqITa5CSyTwgoU5kNRteXEdodrmNFq+qzpT+G9pswjo+4IgOh0q50dymPRKNCZC4uc+EDnbrQOs59f04wP0TGfqRuliuBfUBSU7TxdfHoOhrsjH2t9DCsDC0vHPqizJqyy9yWHyNLIXmyNERmDrDrzRe+G08KPasWWS56CGKSKih0a78QogVg/f1uUEPt2Gx24J9unJeIJhGcmYllyEL2RghzL2XitgeAm8YD3RKsZzT3dPOhXaKyVnSqBVP1SeBNyouwwyZmeLn6gVg52Wu+JdByXSfgMg80Ot25H121DGrfDAbhwUo91+gmgd9mIMYcJIYdDv1zQi9TwpiUd0SVTvnDazYowtn6SaZcBfyLNVJlJfyPIZrQstvws5Lc2uwPXR09n//WdLu5BQ1YT7W/2OtcxbxOvt3PkwOs4BA0YphGI+Dv+Tx9Ay50JJJ9EwMUKCHMN5mfVK59ETwoBKHEuHXNrinSqtM1wqJFX+vRLRDecKY4a8d7RfdbsCFWBshifF8BS8HA0EAtJH/mouUny0Em8k+eNpz+5ZhEJWJ5qB4vmXZcppDxrapLkxbJW/Fo/T4cy4ClKfqgfAvh+8eOVzEpFP/VpU3NhJrT7REqcuP5yCfRICLBoMIxE809C8Tec7m49yIecGFmypaDG2zUOc=
  - COMMIT=${TRAVIS_COMMIT::8}
language: ruby
rvm:
  - 2.0.0-p648
bundler_args: --without production
addons:
  postgresql: '9.3'
services:
  - docker
before_script:
  - cp config/database.yml.travis config/database.yml
#  - psql -c 'create database travis_ci_test;' -U postgres
  - RAILS_ENV=test bundle exec rake db:migrate --trace
script:
  - bundle exec rspec
notifications:
  email:
    recipients:
      - c.santanamartel@gmail.com
    on_success: always
    on_failure: always
sudo: required
after_success:
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  - export REPO=carolina/sample_app_rails_4_image
  - docker build -f Dockerfile -t $REPO:$COMMIT .
  - docker tag $REPO:$COMMIT $REPO:latest
  - docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $REPO

